<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url"           content="http://csdep.moh.ly" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="| قسم علوم الحاسوب" />
    <meta property="og:description"   content=" " />
    <meta property="og:image"         content=""/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="">
    <meta name="twitter:title" content="جامعة الرفاق - قسم علوم الحاسوب - المواد المسموح بها">
    <meta name="twitter:description" content=" جامعة الرفاق - قسم علوم الحاسوب  | شارك معنا -  ">
    <meta name="twitter:image" content="twitter.jpg">

    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<title>قسم علوم الحاسب</title>
	<link href="bootstrap.min.css" rel="stylesheet">
	<script src="vue.js"></script>

	<style>
		.btn{
			margin: 5px;
		}
		.active{
			background-color:#f0ad4e !important;
			border-color: #f0ad4e!important;
		}
         .fa-facebook-official{
             color: rgba(1, 1, 2, 0.56) !important;
         } .fa-facebook-official:hover{
               color: #3a5795 !important;
           }
        .fa-twitter-square{
            color: rgba(1, 1, 2, 0.56) !important;
        }
        .fa-twitter-square:hover{
            color: #4dbff7 !important;
        }
		.footer {
            height: 50px;
            margin-top:40px;
            bottom: 10px !important;
        }

		.teal{
			background-color: #008080;
			border-color: #777777;
			color:#ffffff !important;
		}
		.green{
			background-color: #5cb85c;
			border-color: #4cae4c;
			color:#ffffff !important;
		}
		.red{
			background-color: #d83737  !important;
			border-color: #ffffff !important;
			color:#ffffff !important;
		}
		.whit a{
			color:#ffffff !important;
		}
	</style>

</head>
<body>


<div id="app">
	<nav class="navbar navbar-default navbar-static-top whit teal">
		<div class="container">
			<div class="navbar-header">
				<!-- Branding Image -->
				<a class="navbar-brand" href="#">جامعة الرفاق- قسم علوم الحاسب </a>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="alert alert-success" role="alert">قم بمعرفة المواد المسموح لك دراستها طبقا لشجرة المواد، بطريقة بسيطة وسريعة</div>

		<div class="row">
			<div class="col-md-8 col-md-offset-1">
				<div class="panel panel-primary">
					<div class="panel-heading">قم بالضغط على المواد التي اجتزتها بنجاح</div>
					<div class=" panel-body">
						<button class="btn btn-default"
								:class="{'btn-success': subject.status}"
								v-for="subject in subjects"
								@click='togglePassedFor(subject)'>
							{{subject.name}}
						</button>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-3 sidebar-offcanvas " id="sidebar">
				<div class="list-group">
					<a href="#" class="list-group-item green whit">قداش</a>
					<a href="#" class="list-group-item ">
						عدد المواد الكلي:
						<h1>{{subjects.length}}</h1>
					</a>
					<a href="#" class="list-group-item">
						عدد المواد تم اجتيازها بنجاح:
						<h1>{{passedSubjects}}</h1>
					</a>
					<a href="#" class="list-group-item">
						عدد المواد الباقي:
						<h1>{{40-passedSubjects}}</h1>
					</a>

			</div>
			</div>
	</div>

		<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<div class="panel panel-default">
				<div class="panel-heading red whit">المواد المسموح بتنزيلها طبقا لشجرة المواد</div>
				<div class=" panel-body">
					<button class="btn btn-danger red whit"
							v-for="subject in subjects"
							v-if="(subject.allowed && ! subject.status) || isPassed(subject)"
					>
						{{subject.name }}
					</button>
				</div>
			</div>
		</div>


		<div class="panel panel-warning col-xs-6 col-sm-3 sidebar-offcanvas">
			<!-- Default panel contents -->
			<div class="panel-heading active "style="color: #ffffff;">ملاحظة</div>
			<div class="panel-body">
				<p>المواد التي يلزم لتنزيلها استفاء
				<span style="font-weight: bold;">115 وحدة</span></p>
			</div>

			<!-- List group -->
			<ul class="list-group">
				<li class="list-group-item">مواضيع مختارة1 </li>
				<li class="list-group-item">مواضيع مختارة 2</li>
				<li class="list-group-item">مواضيع بحث</li>
				<li class="list-group-item">مشروع التخرج</li>

			</ul>
		</div>
	</div>

</div>
</div>

<div class=" footer bd-footer text-muted" style=" height: 50px;">
    <div class="container">
        <hr>
        <div class = "col-sm-9 copyright">
            <a href="http://moh.ly">
                <i class="fa fa-user-circle fa-1x" aria-hidden="true"> </i></a>
        </div>
        <div class="col-sm-3">
            <a href="https://www.facebook.com/mabughrara"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
            <a href="https://twitter.com/AboGhrara"> <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data:{
            passedSubjects:0,
            subjects: [
                {code:'GH203',name:'ثقافة إسلامية',root:'',units:'',status:false,allowed:false},
                {code:'152',name:'مبادئ العلوم السياسية',root:'',units:'',status:false,allowed:false},
                {code:"GH150",name:"اللغة العربية",root:"",units:"",status:false,allowed:false},

                {code:"GH141",name:"اللغة الانجليزية 1",root:"",units:"",status:false,allowed:false},
                {code:"GH142",name:"لغة انجيليزية 2",root:"GH141",units:"",status:false,allowed:false},

                {code:'GS100',name:'رياضة 1',root:'',units:'',status:false,allowed:false},
                {code:'GS101',name:'رياضة 2',root:'GS100',units:'',status:false,allowed:false},
                {code:'GS209',name:'جبر خطي والمنطق',root:'GS101',units:'',status:false,allowed:false},
                {code:"GS242",name:"إحصاء واحتمالات",root:"GS100",units:"",status:false,allowed:false},
                {code:'CS205',name:'تراكيب منفصلة',root:'GS101',units:'',status:false,allowed:false},

                {code:'CS200',name:'مبادئ حاسب',root:'',units:'',status:false,allowed:false},
                {code:'GS199',name:'مبادئ هندسة كهربائية',root:'',units:'',status:false,allowed:false},
                {code:"CS201",name:"اساسيات برمجة",root:"",units:"",status:false,allowed:false},

                {code:'CS207',name:'لغة C',root:'CS201',units:'',status:false,allowed:false},
                {code:'CS211',name:'تحليل نطم',root:'CS201',units:'',status:false,allowed:false},
                {code:'CS318',name:'هندسة برمجيات',root:'CS211',units:'',status:false,allowed:false},
                {code:'CS322',name:'نظم تشغيل',root:'CS318',units:'',status:false,allowed:false},

                {code:"CS313",name:"إدارة قواعد بيانات",root:"CS211",units:"",status:false,allowed:false},
                {code:'CS320',name:'لغة دلفي',root:'CS313',units:'',status:false,allowed:false},

                {code:"CS210",name:"برمجئة مرئية1 (بيسك)",root:"CS207",units:"",status:false,allowed:false},
                {code:"CS417",name:"برمجئة مرئية2 (VB)",root:"CS210",units:4,status:false,allowed:false},

                {code:"CS415",name:"البرمجة الشيئية باستخدام c++",root:"CS207",units:"",status:false,allowed:false},
                {code:'CS419',name:'لغة جافا',root:'CS415',units:'',status:false,allowed:false},
                {code:'CS423',name:'تصميم مواقع انترنت',root:'CS419',units:'',status:false,allowed:false},

                {code:"CS414",name:"النمذجة والمحاكاة",root:"CS210",units:"",status:false,allowed:false},
                {code:"CS427",name:"الرسم بالحاسوب",root:"CS414",units:"",status:false,allowed:false},

                {code:'CS204',name:'مقدمة أنظمة رقمية',root:['GS199'],units:'',status:false,allowed:false},
                {code:'CS303',name:'تنظيم حاسبات',root:'CS204',units:'',status:false,allowed:false},
                {code:'CS319',name:'لغة تجميع ASSEMBLY',root:'CS303',units:'',status:false,allowed:false},
                {code:'CS425',name:'شبكات حاسوب',root:'CS319',units:'',status:false,allowed:false},
                {code:'CS321',name:'معماية الحاسوب',root:'CS319',units:'',status:false,allowed:false},
                {code:'CS416',name:'برمجة نطم',root:'CS321',units:'',status:false,allowed:false},


                {code:'CS312',name:'تراكيب بيانات 1',root:'CS207',units:'',status:false,allowed:false},
                {code:'CS418',name:'تراكيب بيانات 2',root:'CS312',units:'',status:false,allowed:false},
                {code:'CS426',name:'ذكاء اصطناعي',root:'CS418',units:'',status:false,allowed:false},


                {code:'CS308',name:'طرق عددية',root:'CS207',units:'',status:false,allowed:false},

                {code:'CS429',name:'مواضيع مختارة 1',root:'',units:'',status:false,allowed:false},
                {code:'CS428',name:'مواضيع مختارة 2',root:'',units:'',status:false,allowed:false},

                {code:'CS430',name:'مناهج البحث والتدريب الميداني',root:'',units:'',status:false,allowed:false,required:33}

            ],
        },
        methods: {
            togglePassedFor: function (subject) {
                subject.status = !subject.status;
                if(subject.status) this.passedSubjects=this.passedSubjects +1; else this.passedSubjects=this.passedSubjects-1;
                var that = subject.code;
                this.subjects.filter(function (sub) {
                    if (sub.root == that) {
                        sub.allowed = !sub.allowed;
                    }
                });
            },
			isPassed:function (subject) {
				if(subject.root=='' && !subject.status){
				    return true;
				}else return false;
            }
        }

    });
</script>

</body>
</html>